
.home_title{
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  color: #438FA4;
  display: flex;
  justify-content: space-evenly; 
}

.home_content{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;  
}
#logo_home{
  width: 15%;
}